.landing-page {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: #FFF;
}

.landing-header {
    padding: 50px 0;
}

.landing-header h1 {
    color: #000;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cta-button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s ease; /* 호버 시 배경색이 천천히 변하도록 설정 */
}

.cta-button:hover {
    background-color: black; /* 호버 시 검은색으로 변하게 설정 */
}


.intro-section {
    padding: 50px 0;
}

.intro-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-item {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

.testimonials-section {
    padding: 50px 0;
    background-color: #f8f9fa;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.testimonial {
    background-color: white;
    border: 1px solid #e9ecef;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
}

.blog-section {
    padding: 50px 0;
}

.blog-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.landing-footer {
    padding: 20px 0;
    background-color: #e9ecef;
}

.landing-footer p {
    margin: 5px 0;
}
